<!DOCTYPE html>

<html>
    <h1> Create an account!</h1>

    <form id="account-form" method="POST" action="/create">
        <label for="name"> Name: </label>
        <input type="text" name="name">
        <br>
        <label for="password"> Password: </label>
        <input type="text" name="password">
        <br>
        <input type="submit" value="submit">
    </form>
</html>
